<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiao.ebloglib" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".EBlogActivity" />
        <activity android:name=".EBlogDetailActivity" />
    </application>
</manifest>
